/* Nav */
.backg {
	background-color: #87cefa;
	height: 100px;
}
nav {
	margin-top: -17px;
}

/* Botão send */
.btn {
	border-color: white;
	color: white;
	width: 100px;
}
.btn:hover{
	color: white;
}

/* Gráfico */
.grafico {
	width: 400px;
	height: 400px;
}

/* Tabela */
.tabela {
	height: 100px;
	width: 50px;
}

/*   Campos obrigatórios *   */
span {
	color: red;
}